spring.main.banner-mode=off
logging.level.org.springframework=ERROR

# Postgres Settings
spring.datasource.url=jdbc:postgresql://localhost:5432/tweedehands_app_db
spring.datasource.username=tweedehandsapp
spring.datasource.password=Welkom01

spring.datasource.name=tweedehands_app_db

spring.jpa.hibernate.ddl-auto=update
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.jpa.properties.javax.persistence.validation.mode=none

#server.error.path=/error

# OAuth2
oauth2.client-id=
oauth2.client-secret=
oauth2.token-uri=https://papi.q.ucll.be/oauth/token
oauth2.user-info-uri=https://papi.q.ucll.be/auth/info
oauth2.authorization-uri=https://papi.q.ucll.be/oauth/authorize
oauth2.user-name-attribute=accountId

# App Properties
tweedehands.app.jwtSecret= SecretKey
tweedehands.app.jwtExpirationMs= 86400000

spring.messages.fallback-to-system-locale=false

server.error.whitelabel.enabled=true

spring.servlet.multipart.enabled=true
spring.servlet.multipart.location=${java.io.tmpdir}
spring.servlet.multipart.max-file-size=9MB
spring.servlet.multipart.max-request-size=10MB

org.jobrunr.background-job-server.enabled=true
org.jobrunr.dashboard.enabled=true
org.jobrunr.background-job-server.poll-interval-in-seconds=5

hCaptcha.secret.key=

storage.location=./storage/public/uploads
